
/* COMMON */

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
}



/* MY STYLE BIG CONTAINERS */
.ms_wrapper {
    width: 100%;
    height: 100vh;
}


.ms_sidebar {
    width: 80px;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover ;
    background-color: rgb(14, 14, 69);
}

.ms_content {
    width: calc(100% - 80px);
    height: 100%;
    background-color: beige;
    overflow-y: auto;
}



/* HEADER AND MAIN */
header {
    width: 100%;
    height: 60px;
}

main {
    width: 100%;
    height: calc(100% - 60px);
}


/* FORM */
.ms_form-header input {
    background-color: rgba(250, 235, 215, 0);
    border: none;
}

.form-control:focus {
    box-shadow: none;
}

/* NAVBAR SEARCH */
.ms_navbar-search {
    width: 65%;
    margin-left: .6rem;
    background-color: rgb(212, 214, 214);
    border-radius: 5px;
}


form:hover { background-color: white;}


/* MEDIA-QUERY STARTER */

@media screen and (min-width: 442px) {
    .ms_navbar-search {
        width: 75%;
    }

}    

@media screen and (min-width: 992px) {
    .ms_sidebar {
        width: 180px;
    }

    .ms_content {
        width: calc (100% - 180px);
    }
    .ms_navbar-search {
        width: 100%;
    }
}


/* IMMAGE HEADER SECTION */

.ms_small-img img {
    height: 60px;
}


/* CONTENT */

/* JUMBOTRON */

.ms_jumbotron {
    background-color: blue;
    color: white;
}


.ms_btn-newstudent {
    padding: 0 .4rem;
}
